<h1><%= link_to "All Tags", tags_path(@tag) %></h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
    <%= link_to tag.name, tag_path(tag) %>

    </li>
  <% end %>
</ul> 
<% if logged_in? %>
<%= link_to "Delete Tag", tags_path(@tag), method: :delete, data: {confirm:"Are You Sure You Want To Delete This?"} %>
<% end %>
<%= link_to "<< Back to Articles List", articles_path %>


