@charset "UTF-8";


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
outline:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
text-align:justify;
}

 
body {
line-height:1;
color:black;
background:white;
}

 
ol,ul {
list-style:none;
}

 
table {
border-collapse:separate;
border-spacing:0;
vertical-align:middle;
}

 
caption,th,td {
text-align:left;
font-weight:normal;
vertical-align:middle;
}

 
q,blockquote {

quotes:"" "";
}

 
q:before,q:after,blockquote:before,blockquote:after {

content:"";
}

 
a img {

border:none;
}

  
 
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {

margin:0;
padding:0;
border:0;
outline:0;
display:block;
}

 
.headings,h1 {

font-family:Verdana, Geneva, sans-serif;
}

 
html {

 
background:url('bg2.png') repeat fixed;
 
}

 
body {

font-family:Verdana, Geneva, sans-serif;
 background:url('bg2.png') repeat fixed;
margin:50px auto 30px;
color:#2d4159;
padding:20px;
width:85%;
min-width:600px;
max-width:1250px;
min-height:280px;
position:relative;
line-height:1.25em;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;  
}

 
body:before {

content:" ";
z-index:-2;
position:absolute;
left:-4px;
right:8px;
top:8px;
height:260px; 
  
}

 
body:after {

content:" ";
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
bottom:2px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-o-border-radius:6px;
-ms-border-radius:6px;
-khtml-border-radius:6px;
border-radius:6px; 
z-index:-1; 
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
 
a, h3 a {
-webkit-transition: color,text-shadow 0.3s linear;
-webkit-transition-property: color, text-shadow;
-webkit-transition-duration: initial, 0.3s;
-webkit-transition-timing-function: initial, linear;
-webkit-transition-delay: initial, initial;
color:#177cb4;
text-decoration: none;
}

h3 a:hover {

color:#233245;
}

 
a:hover {

color:#233245;
}

p.main_article_body {
	font-size:0.9em;
	line-height: 1.4em;
	color: #8e8e8e;
	max-width:100%;
}


span.deet {
	color: #8e8e8e;
	text-transform: none;
}

 
 
p.flash {

-moz-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px;
-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px;
-o-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px;
box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px;
-moz-border-radius-bottomleft:6px;
-webkit-border-bottom-left-radius:6px;
-o-border-bottom-left-radius:6px;
-ms-border-bottom-left-radius:6px;
-khtml-border-bottom-left-radius:6px;
border-bottom-left-radius:6px;
-moz-border-radius-bottomright:6px;
-webkit-border-bottom-right-radius:6px;
-o-border-bottom-right-radius:6px;
-ms-border-bottom-right-radius:6px;
-khtml-border-bottom-right-radius:6px;
border-bottom-right-radius:6px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0.6)));
background-image:-moz-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
border:3px solid rgba(255, 255, 255, 0.5);
-moz-background-clip:padding;
-webkit-background-clip:padding;
-o-background-clip:padding-box;
-ms-background-clip:padding-box;
-khtml-background-clip:padding-box;
background-clip:padding-box;
text-shadow:rgba(0, 0, 0, 0.6) 0 -1px;
color:#fff;
margin:0 auto;
position:absolute;
top:-51px;
left:0;
padding:.4em .8em;
width:100%;
text-align:center;
border-top:0;
}

 
p.flash:empty {

height:0px;
overflow:hidden;
padding:0;
border-width:0;
-moz-box-shadow:none;
-webkit-box-shadow:none;
-o-box-shadow:none;
box-shadow:none;
background:none;
}

 
h1 {
 
margin:-20px -20px 15px;
padding:20px;
padding-right:180px;
line-height:1em;
font-weight:normal;
text-transform: capitalize;
color:#177CB5;
position:relative; 
font-size:2em;
 text-shadow: 1px 1px 1px #ddd;
}

h1.main_art_tit {
 
margin: 0px;
padding-top:10px;
padding-bottom:10px; 
padding-left:5px;
line-height:1em;
font-weight:bold;
color:#177CB5;
position:relative; 
text-transform: capitalize;
font-size:1.8em;
 text-shadow: 1px 1px 1px #fff;
 background-color:#eeeeee;
 max-width:80%;
}

h1.main_art_tit2 {
 
margin: 0px;
padding-top:20px;
padding-bottom:20px; 
padding-left:5px;
line-height:1em;
font-weight:bold;
color:#177CB5;
position:relative; 
text-transform: capitalize;
font-size:1.8em;
 text-shadow: 1px 1px 1px #fff;
 background-color:#eeeeee;
 max-width:66%;
}

.whoslooking {
 background-color:#eeeeee;
max-width:93%;
}

.whoslooking img{
	padding:10px;
}

 
h1:after {

content:" ";
position:absolute;
left:0;
right:0;
height:15px;
bottom:-16px; 
z-index:1;
}

 
h2,h4 {

color:#177cb4;
font-size:1.3em;
line-height:1.5em;
margin:.2em 0 .5em;
}


 
.comment {

font-size:.9em;
border-top:1px solid #ddd;
background:#f5f5f5;
padding:1em 0;
border-bottom:1px dashed #ddd;
color:#6c7c9a;
}

 
.comment p {

padding-left:12px;
border-left:5px solid rgba(45, 65, 89, 0.5);
}

 
.comment p:first-child {

font-weight:bold;
color:#2d4159;
padding-left:0;
border:0;
padding-bottom:1em;
}

 
.comment + .comment {

border-top:none;
}

 
.comment + h3,.comment + h4 {

margin:0 0 .5em;
}

 
.comment:nth-last-of-type(1) {

border-bottom:1px solid #ddd;
margin-bottom:2em;
}

 
h1,h2,h5 {

font-weight:bold;
}


.moveup {
	margin-top:-8px;
}

h3{
	-webkit-transition: color,text-shadow 0.3s linear;
-webkit-transition-property: color, text-shadow;
-webkit-transition-duration: initial, 0.3s;
-webkit-transition-timing-function: initial, linear;
-webkit-transition-delay: initial, initial;
 text-transform: uppercase;
 
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
font-size:1em;
line-height:1.5em;
margin:.2em 0 .5em;

}
h6 {
	font-weight: normal;
	font-style: italic;
	font-size: 80%;
}
p.article_main {
	font-size:80%;
	max-width:100%;
	color: #626262;
}
 
p.article_main a {
	color: #177cb4;
	font-size: 90%;
}

p.article_main a:hover {
	color: #0095d3;
}

 
.top-button,a.new_article,.article_actions a[href$='edit'],.article_actions a[data-method='delete'] {

position:absolute;
top:26px;
right:20px;
display:inline-block;
padding:4px 11px;
font-size:.9em;
-moz-box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
-webkit-box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
-o-box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
-moz-border-radius:1.2em;
-webkit-border-radius:1.2em;
-o-border-radius:1.2em;
-ms-border-radius:1.2em;
-khtml-border-radius:1.2em;
border-radius:1.2em;
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
background-image:-moz-linear-gradient(#ffffff,#cccccc);
background-image:linear-gradient(#ffffff,#cccccc);
text-shadow:#fff 0 1px;
color:#999999;
text-decoration:none;
}

 
.top-button:hover,a.new_article:hover,.article_actions a[href$='edit']:hover,.article_actions a[data-method='delete']:hover {

color:#555;
}

 
.top-button:active,a.new_article:active,.article_actions a[href$='edit']:active,.article_actions a[data-method='delete']:active {

background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #f5f5f5));
background-image:-moz-linear-gradient(#d9d9d9,#f5f5f5);
background-image:linear-gradient(#d9d9d9,#f5f5f5);
}

 
#sidebar + ul {

padding-right:180px;
}

 
#sidebar + ul li {

padding-right:30px;
}

 
#sidebar + ul:after {

position:absolute;
right:180px;
top:0;
bottom:0;
content:" ";
width:1px;
background:#e5e5e5;
}

 
#articles {

margin:-15px -20px 0px;
padding:0 20px 0;
max-width:100%;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
position:relative; 
}

 
#articles li {
 background-color: ;
margin-right:20px;
font-size:1.2em;
position:relative;
}



 
#articles li:last-child {

}

 
#articles li > a:first-child {

font-weight:bold;
float:left;
display:block;
color: #177cb4;
text-shadow: 
         1px -1px 0px #fff;
         text-transform: capitalize;
padding-bottom:.1em; 
}

 
#articles .actions {

border-left:1px dotted #ddd;
padding-left:8px;
margin-left:3px;
line-height:1em;
position:relative;
top:2px;
}

 
#articles .actions a {

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
opacity:0.2;
}

 
#articles .actions a:hover {

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
opacity:0.4;
}

 
#articles .tag_list {

display:inline-block;
font-size:.8em;
padding-top:.5em;
color:#999;
}

 
.article_actions {

border-bottom:1px dashed #ddd;
margin-bottom:.7em;
padding-bottom:.7em;
font-size:.9em;
overflow:hidden;
*zoom:1;
text-align:right;
}

 
.article_actions a {

float:left;
color:#999999;
}

 
.article_actions a:hover img {

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
opacity:0.6;
}

 
.article_actions img {

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
opacity:0.2;
position:relative;
top:2px;
}

 
.article_actions a[href$='edit'],.article_actions a[data-method='delete'] {

text-decoration:none;
float:none;
margin-left:.5em;
padding:4px 12px 3px 8px;
}

 
.article_actions a[data-method='delete'] {

right:90px;
}

 
p.tag_list {

border-top:1px dashed #ddd;
margin:1em 0;
padding-top:.5em;
font-size:.9em;
color:#999;
}

 
#sidebar {

font-weight:bold;
width:150px;
padding:15px 10px;
float:right;
margin:-15px -20px 0 0;
position:relative;
z-index:1;
}

 
#sidebar ul {

margin:.5em 0;
font-weight:normal;
}

 
#sidebar ul a {

color:#6c7c9a;
}

 
.input,form input[type=text],form input[type=password],form textarea {

width:100%;
 -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #c0c0c0;
  background-color:#f5f5f5;
  resize: none;
}

 
.input:focus,form input[type=text]:focus,form input[type=password]:focus,form textarea:focus {

 box-shadow: 0 0 7px rgba(23, 124, 181, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(23, 124, 181, 1);
}

 
form input[type=text], form input[type=password] {

margin:0;
} 
form p {

padding:0;
margin-bottom:.6em;
}

 
form label {

color:#177CB5;
font-size:.9em;
font-weight:bold;
line-height:1.5em;
padding-bottom:.2em;
display:inline-block;
text-transform:uppercase;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
 
form textarea {

height:12em;
font-size:1.1em;
}

 

div.field_with_errors label {

color: red;
 font-weight:bold;
}

 


div.field_with_errors input {

border: 3px solid red;
}

input[type=submit] {

display: inline-block;
  height: 25px;
  line-height: 25px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  background-color:rgb(234,234,234);
  color:rgb(41,140,195);
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none; 
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size:90%;
   color:rgb(41,140,195);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  outline: 0;
 }

 
 
 
 

 
input[type=submit]:active {

margin-top: 2px;
  margin-bottom: 13px;
 
}

 
input[type=submit]:active,input[type=submit]:active:visited {

 color:rgb(41,140,195);
}

 


.myButton {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  background-color:rgb(234,234,234);
  color:rgb(41,140,195);
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none; 
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size:90%;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}


.myButton:active {
  margin-top: 2px;
  margin-bottom: 13px;

  -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
box-shadow:0px 1px 0px rgba(255,255,255,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
}

div.bannerimg {
	height: 408px;
z-index: 999;
visibility: visible;
position: absolute;
margin-top: 5px;
margin-right: auto;
padding-left: 5px; 
}

#clear {
	clear: both;
}

 

